body {
    font-family: Arial;
    background: #f4f4f4;
    text-align: center;
}

.container {
    margin-top: 50px;
}

button {
    padding: 10px 20px;
    background: green;
    color: white;
    border: none;
    cursor: pointer;
}

img {
    margin-top: 20px;
    border-radius: 10px;
}